.header{
	min-height: 100px;
	background-color: #ff7979;
	text-align: center;
	display : flex;
  	align-items : center;
  	justify-content: center;
  	font-size: 30px;
  	color: white;
	
}
#wrapper{
	overflow: hidden;

}
.left{
	background-color: #535c68;
	min-height: 400px;
	float: left;
	width: 70%;
	color: white;
	display : flex;
  	align-items : center;
  	justify-content: center;
  	font-size: 30px;
  	
}
.right{
	background-color: #c7ecee;
	min-height: 400px;
	float: right;
	width: 30%;
	color: white;
	display : flex;
  	align-items : center;
  	justify-content: center;
  	font-size: 30px;
  	
}
.footer-bootom{
	min-height: 100px;
	background-color: #30336b;
	text-align: center;
	color: white;
	 display : flex;
  	align-items : center;
  	justify-content: center;
  	font-size: 30px;
  	
	
}




